@import "../style/variables.scss";

.about--text {
  padding-inline: 1rem;
  max-width: 700px;
  color: $grey300;

  span {
    font-family: $FontHeading;
  }

  .about--name {
    color: $accent2;
    font-size: 1.2rem;
    margin-right: 3px;
  }

  .about--tagline {
    inset: 1rem;
    color: $accent4;
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.img-container {
  width: 100%;
  margin: 2rem 1rem 2rem 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .about--text {
      padding: 1rem;
    }

    .img-container {
      width: 50%;
      height: 350px;
      margin: 0 2rem 0 2rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    .about--text {
      span.tagline {
        font-size: 4rem;
      }
    }
  }
}
