@import "../style/variables.scss";

.admin-wrapper {
  min-height: 100vh;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.admin-input {
  padding: 0.5rem;
  width: 20rem;
  align-items: center;
}

button {
  background-color: $accent2;
  color: $grey700;
  padding: 0.4rem 0.8rem;
  margin-right: 1rem;
  font-weight: bold;
  transition-timing-function: ease-out;
  transition: 0.2s;

  &:hover {
    outline: 4px solid $accent3;
    background-color: transparent;
    color: $accent4;
    transition-timing-function: ease-in;
    transition: 0.5s;
  }
}

.admin-booking-list-wrapper {
  margin-bottom: 7rem;
  list-style-type: none;
  padding: 1rem;
  color: black;
}

.admin-booking-list {
  padding: 0.5rem;
  margin: 0.2rem;

  &:nth-child(even) {
    background-color: $accent1;

    &:hover {
      background-color: $accent2;
    }
  }

  &:nth-child(odd) {
    background-color: $accent4;
  }
}

.list-details {
  display: grid;
  grid-template-columns: 5fr 3fr 2fr 1fr 1.5fr 1fr;
  gap: 0.7rem;
}
