@import "../style/variables.scss";

h3 {
  margin-bottom: 2rem;
}

p {
  margin-inline: 1rem;
  color: $grey300;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.time-btn {
  width: 45%;
  display: inline;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  background-color: black;
  color: $accent4;
  border: 4px solid $accent4;
  font-weight: 300;
}

.time-btn.selected {
  background-color: $accent4;
  color: $grey700;
  font-weight: bold;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 1rem;
  background-color: $accent4;
  color: $grey500;
  font-size: 1rem;
  cursor: pointer;
}

.time-div {
  width: 40%;
  display: inline;
  outline: 4px solid $accent4;
  background-color: transparent;
  color: $accent4;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
}

.confirmation-div {
  margin-top: 2rem;

  p {
    margin: 0;
  }
}
