$FontHeading: "Imperial Script", cursive, Georgia, serif;
$FontParagraph: "Montserrat", Avenir, Helvetica, Arial, sans-serif;

$primary1: #4c7e63;
$primary2: #2a553d;
$primary3: #1e3c2b;

$secondary1: #bb2f2f;
$secondary2: #8b0000;
$secondary3: #640202;

$accent1: #f3d87e;
$accent2: #d4af37;
$accent3: #ad8d24;
$accent4: lightyellow;

$grey100: #eaeaea;
$grey300: #8a8e88;
$grey500: #343533;
$grey700: #20231e;
