$FontHeading: 'Imperial Script', cursive;;
$FontParagraph: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;


$primary1: #4C7E63;
$primary2: #2A553D;
$primary3: #1E3C2B;

$secondary1: #BB2F2F;
$secondary2: #8B0000;
$secondary3: #640202;

$accent1: #F3D87E;
$accent2: #D4AF37;
$accent3: #AD8D24;
$accent4: lightyellow;

$grey100: #EAEAEA;
$grey300: #8A8E88;
$grey500: #343533;
$grey700: #20231E;